<div class="w3-container">
  <div class="resoucesAndTeamMembers">
    <p>Resources: 10</p>
    <p>Team members: 2</p>
  </div>



<div class="wrap-login100">
  <h3>{{quest.description}}</h3>
      <div >
        <mat-radio-group class="questionGen" [(ngModel)]="control">
          <mat-radio-button *ngFor="let ans of quest.questions" [value]="ans">{{ans.description}}
          </mat-radio-button>
        </mat-radio-group>
        <button mat-raised-button color="primary" [disabled]="!control">Send</button>
      </div >

</div>


<!--
Desarrollador
Tester
Analista
PM
-->
