<div class="w3-container">
  <div class="resoucesAndTeamMembers">
    <p>Resources: 10</p>
    <p>Team members: 2</p>
  </div>

  <script language = "javascript">
    angular
      .module('firstApplication', ['ngMaterial'])
      .controller('radioButtonsController', radioButtonsController);

    function radioButtonsController ($scope) {
      $scope.radioData = [
        { label: 'Pregunta A', value: 'Pregunta A' },
        { label: 'Pregunta B', value: 'Pregunta B' },
        { label: 'Pregunta C', value: 'Pregunta C'},
        { label: 'Pregunta D', value: 'Pregunta D' }
      ];
      $scope.group = 'Banana';
    }
  </script>

  <div class="container">
    <mat-card-content>
      <mat-radio-group >

      <h3>Soy una pregunta</h3><br>

        <mat-radio-button >
          Soy una pregunta A
        </mat-radio-button>
        <mat-radio-button>
          Soy una pregunta b
        </mat-radio-button>
        <mat-radio-button>
          Soy una pregunta c
        </mat-radio-button>
        <mat-radio-button>
          Soy una pregunta d
        </mat-radio-button>

        <br>
      </mat-radio-group>
        <button mat-raised-button color="primary">Send</button>
    </mat-card-content>
  </div>

</div>

<!--
Desarrollador
Tester
Analista
PM
-->
