<!-- Project creation type selection -->
<div class="w3-container">
  <h1>Game set-up</h1><br/>
</div>

<div class="w3-card-4">
  <div class="w3-container">
    <h2>Select certification type</h2>
  </div>
  <br/>
  <div class="w3-container">
    <button mat-raised-button (click)="redirect1($event)">
      Analyst Certification
    </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="redirect2($event)">
      Developer Certification
    </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<button mat-raised-button (click)="redirect3($event)">
      Tester Certification
    </button>
  </div>
  <br/>
</div>
<br/>
