.questionGen {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: center;
  margin: 5% auto 5% auto;
  width: 300px;
}

.options > * {
  display: inline;
}

button {
  display: flex;
  justify-content: center;
  margin: 5% auto 5% auto;


}
