<div class="w3-container">
  <div class="resoucesAndTeamMembers">
    <p>Resources: 10</p>
    <p>Team members: 2</p>
  </div>


  <div class="wrap-login100">
    <div>
      <h3>I'm a question</h3><br>
      <div class="options">
        <input type="radio" name="option" id="optionA">
        <label for="optionA">I'm the A answer</label><br>
        <input type="radio" name="option" id="optionB">
        <label for="optionB">I'm the B answer</label><br>
        <input type="radio" name="option" id="optionC">
        <label for="optionC">I'm the C answer</label><br>
        <input type="radio" name="option" id="optionD">
        <label for="optionD">I'm the D answer</label><br>
      </div>
      <br>
      <button mat-raised-button color="primary">Send</button>
    </div>
  </div>

</div>

<!--
Desarrollador
Tester
Analista
PM
-->
