<div class="w3-container">
  <div class="resoucesAndTeamMembers">
    <p>Resources: 10</p>
    <p>Team members: 2</p>
  </div>


  <div class="container">
    <div>
      <h3>Soy una pregunta</h3><br>
      <div class="options">
        <input type="radio" name="option" id="optionA">
        <label for="optionA">Soy una respuesta A</label><br>
        <input type="radio" name="option" id="optionB">
        <label for="optionB">Soy una respuesta B</label><br>
        <input type="radio" name="option" id="optionC">
        <label for="optionC">Soy una respuesta C</label><br>
        <input type="radio" name="option" id="optionD">
        <label for="optionD">Soy una respuesta D</label><br>
      </div>
      <br>
      <button>Send</button>
    </div>
  </div>

</div>

<!--
Desarrollador
Tester
Analista
PM
-->
