.questionGen {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: center;
}

.options > * {
  display: inline;
}

button {
  display: flex;
  justify-content: center;
  background-color: #F60;
  color: #0F0;
}
