<div class="w3-container">
  <div class="resoucesAndTeamMembers">
    <p>Resources: {{resour}}</p>
    <p>Team Members: {{mem}}</p>
  </div>

</div>

  <div *ngIf="(mostrar === true);else question">
      <h3 class="title1">{{error}}</h3>
  </div>

<ng-template #question class="container">
  <div [hidden]=textHid>
    <h3 class="container">{{qd}}</h3>
  </div>
  <mat-list class="wrap-login100">
    <mat-list-item [hidden]=ans1hid>
      <mat-checkbox [(ngModel)]="answer1temp" labelPosition="after"></mat-checkbox>
      <mat-label>{{a1}}</mat-label>
    </mat-list-item>
    <mat-list-item [hidden]=ans2hid>
      <mat-checkbox [(ngModel)]="answer2temp" labelPosition="after"></mat-checkbox>
      <mat-label>{{a2}}</mat-label>
    </mat-list-item>
    <mat-list-item [hidden]=ans3hid>
      <mat-checkbox [(ngModel)]="answer3temp" labelPosition="after"></mat-checkbox>
      <mat-label>{{a3}}</mat-label>
    </mat-list-item>
    <mat-list-item [hidden]=ans4hid>
      <mat-checkbox [(ngModel)]="answer4temp" labelPosition="after"></mat-checkbox>
      <mat-label>{{a4}}</mat-label>
    </mat-list-item>
    <div class="buttonSend" [hidden]=sendhid>
      <button mat-raised-button color="primary" (click)="checkAnswers()">SEND</button>
    </div>
  </mat-list>
</ng-template>



<!--
Desarrollador
Tester
Analista
PM
-->
