<!-- Company update form -->
<!-- This will be shown if the user in session is a game administrator -->
<div class="wrap-login100 big-wrap" *ngIf="this.service.user_type === 'Game Administrator'; else p_m">
  <form class="login100-form" [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
    <span class="login100-form-title p-b-34 p-t-27 non_mayus">
      UPDATE COMPANY - {{this.current_company.name}}
    </span>

    <!-- Name, image and project manager inputs -->
    <div class="element">
      <mat-form-field class="big-input">
        <input matInput placeholder="Name - {{this.current_company.name}}" name="name" formControlName="name">
      </mat-form-field>
    </div>

    <br/>

    <div class="company_img">
      <img src="{{this.current_company.image}}">
    </div>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput placeholder="URL - {{this.current_company.image}}" name="img" formControlName="img">
      </mat-form-field>
    </div>

    <br/>

    <div class="element" *ngIf="lacking_project_manager">
      <mat-form-field class="big-input">
        <mat-select placeholder="New project manager"
                    name="project_manager" formControlName="project_manager">
          <mat-option [value]=''>
            None
          </mat-option>
          <mat-option *ngFor="let user of project_managers" [value]="user.id">
            {{ user.username }} - {{ user.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Error or success messages -->
    <div class="element" *ngIf="totally_empty">
      <br/>
      <span class="error">
        You must fill at least one field.
      </span>
    </div>

    <div class="element" *ngIf="repeated_field">
      <br/>
      <span class="error">
        You are trying to update something with its same current value.
      </span>
    </div>

    <!--<div class="element" *ngIf="invalid">
      <br/>
      <span class="error">
        A company with that name already exists.
      </span>
    </div>-->

    <!-- Error or success messages -->
    <div class="element" *ngIf="success">
      <br/>
      <span class="success">
        Company successfully added.
      </span>
    </div>

    <br/>
    <br/>

    <!-- Button which submits data on the form -->
    <div class="element element2">
      <button mat-raised-button color="warn" type="submit" [disabled] = "!formdata.valid" class="forsubmit">
        Update
      </button>
    </div>

  </form>
</div>

<!-- This will be shown if the user in session is a project manager -->
<ng-template #p_m>
  <div class="wrap-login100 big-wrap">
    <form class="login100-form" [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
      <span class="login100-form-title p-b-34 p-t-27 non_mayus">
        UPDATE COMPANY - {{this.current_company.name}}
      </span>

      <!-- Project managers can only update the image of the company -->
      <div class="company_img">
        <img src="{{this.current_company.image}}">
      </div>

      <div class="element">
        <mat-form-field class="big-input">
          <input matInput placeholder="URL - {{this.current_company.image}}" name="img" formControlName="img">
        </mat-form-field>
      </div>

      <!-- Error or success messages -->
      <div class="element" *ngIf="totally_empty">
        <br/>
        <span class="error">
          You must fill at least one field.
        </span>
      </div>

      <div class="element" *ngIf="repeated_field">
        <br/>
        <span class="error">
          You are trying to update something with its same current value.
        </span>
      </div>

      <div class="element" *ngIf="invalid_url">
        <br/>
        <span class="error">
        Please input a valid URL
      </span>
      </div>

      <!--<div class="element" *ngIf="invalid">
        <br/>
        <span class="error">
          A company with that name already exists.
        </span>
      </div>-->


      <div class="element" *ngIf="success">
        <br/>
        <span class="success">
          Company successfully updated.
        </span>
      </div>

      <br/>
      <br/>

      <!-- Button which submits data on the form -->
      <div class="element element2">
        <button mat-raised-button color="warn" type="submit" [disabled] = "!formdata.valid" class="forsubmit">
          Update
        </button>
      </div>

    </form>
  </div>
</ng-template>
