<div class="w3-row body" *ngIf="!(this.service.user_to_be_updated.role === 'Game Administrator'); else game_administrator_view">
  <div class="w3-third"*ngIf="this.current_company !== undefined; else no_company">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>work</mat-icon>
        <h4 mat-line>Company:</h4>
        <p mat-line>{{this.service.user_to_be_updated.company_name}}</p>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>photo</mat-icon>
        <h4 mat-line>Company logo:</h4>
      </mat-list-item>
    </mat-list>
    <div class="center">
      <img src="{{this.current_company.image}}">
    </div>
    <div class="company_button">
      <button mat-raised-button (click)="redirect2($event)">
        See company status.
      </button>
    </div>
  </div>
  <ng-template #no_company>
    <div class="w3-third">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>work</mat-icon>
          <h4 mat-line>Company:</h4>
          <p mat-line>None</p>
        </mat-list-item>
      </mat-list>
      <div class="center">
        <img src="https://vignette.wikia.nocookie.net/fakemon/images/0/0e/Forever_Alone.png/revision/latest?cb=20130216001235&path-prefix=es">
      </div>
    </div>
  </ng-template>
  <div *ngIf="!(this.service.user_to_be_updated.role === 'Project Manager'); else project_manager_view">
    <div class="w3-third">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>date_range</mat-icon>
          <h4 mat-line>Started playing on:</h4>
          <p mat-line>{{date_formatter(this.service.user_to_be_updated.creation_date)}}</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <h4 mat-line>Name:</h4>
          <p mat-line>{{this.service.user_to_be_updated.name}}</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>perm_identity</mat-icon>
          <h4 mat-line>Username:</h4>
          <p mat-line>{{this.service.user_to_be_updated.username}}</p>
          </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>Role:</h4>
          <p mat-line>{{this.service.user_to_be_updated.role}}</p>
          </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>equalizer</mat-icon>
          <h4 mat-line>Competency:</h4>
          <p mat-line>{{this.service.user_to_be_updated.competency}}</p>
        </mat-list-item>
      </mat-list>
      <div class="centered_button">
        <button mat-raised-button (click)="redirect($event)" *ngIf="this.service.user_type === 'Game Administrator'">
          Update this user.
        </button>
      </div>
    </div>
    <div class="w3-third">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>check</mat-icon>
          <h4 mat-line>Questions answered right:</h4>
          <p mat-line>{{this.service.user_to_be_updated.questions_answered_right}}</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>close</mat-icon>
          <h4 mat-line>Questions ansered wrong:</h4>
          <p mat-line>{{this.service.user_to_be_updated.questions_answered_wrong}}</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>assessment</mat-icon>
          <h4 mat-line>User performance:</h4>
          <p mat-line>{{this.performance.toFixed(2)}} %</p>
        </mat-list-item>
      </mat-list>
      <div class="center">
        <mat-progress-spinner
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="this.performance" *ngIf="this.performance !== 0; else bad_guy">
        </mat-progress-spinner>
        <ng-template #bad_guy>
          <img src="https://images.vexels.com/media/users/3/134775/isolated/preview/fe9e24622975f54832c4345e683e5f93-emoticon-enfermo-emoji-by-vexels.png">
        </ng-template>
      </div>
    </div>
  </div>
  <ng-template #project_manager_view>
    <div class="w3-third">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>date_range</mat-icon>
          <h4 mat-line>Started playing on:</h4>
          <p mat-line>{{date_formatter(this.service.user_to_be_updated.creation_date)}}</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <h4 mat-line>Name:</h4>
          <p mat-line>{{this.service.user_to_be_updated.name}}</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>perm_identity</mat-icon>
          <h4 mat-line>Username:</h4>
          <p mat-line>{{this.service.user_to_be_updated.username}}</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>Role:</h4>
          <p mat-line>{{this.service.user_to_be_updated.role}}</p>
        </mat-list-item>
      </mat-list>
      <div class="centered_button">
        <button mat-raised-button (click)="redirect($event)" *ngIf="this.service.user_type === 'Game Administrator'">
          Update this user.
        </button>
      </div>
    </div>
  </ng-template>
</div>
<ng-template #game_administrator_view>
  <div class="body">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>date_range</mat-icon>
        <h4 mat-line>Administrating since:</h4>
        <p mat-line>{{date_formatter(this.service.user_to_be_updated.creation_date)}}</p>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <h4 mat-line>Name:</h4>
        <p mat-line>{{this.service.user_to_be_updated.name}}</p>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>perm_identity</mat-icon>
        <h4 mat-line>Username:</h4>
        <p mat-line>{{this.service.user_to_be_updated.username}}</p>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>assignment</mat-icon>
        <h4 mat-line>Role:</h4>
        <p mat-line>{{this.service.user_to_be_updated.role}}</p>
      </mat-list-item>
    </mat-list>
    <div class="centered_button">
      <button mat-raised-button (click)="redirect($event)" *ngIf="this.service.user_type === 'Game Administrator'">
        Update this user.
      </button>
    </div>
  </div>
</ng-template>
