<!-- parameters update form -->
<div class="wrap-login100 big-wrap">
  <form class="login100-form" [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
    <span class="login100-form-title p-b-34 p-t-27 non_mayus">
      UPDATE PARAMETER
    </span>

    <div class="element">
        <mat-form-field class="big-input">
          <input matInput type="number" step="0.01" placeholder="Threshold - {{this.threshold}}" formControlName="threshold" min="0.1" max="0.9">
        </mat-form-field>
      </div>
	
	<!-- Messages if validations fail -->

    <div class="element" *ngIf="repeated_field">
      <br/>
      <span class="error">
        You are trying to update something with its same current value.
      </span>
    </div>

    <div class="element" *ngIf="success">
      <br/>
      <span class="success">
        Parameters successfully updated.
      </span>
    </div>

    <div class="element" *ngIf="invalid">
        <br/>
        <span class="success">
          You need to input a decimal number
        </span>
    </div>

    <div class="element" *ngIf="nonumber">
        <br/>
        <span class="success">
          You need to input a decimal number between 0.1 and 0.9
        </span>
    </div>

    <div class="element" *ngIf="totally_empty">
        <br/>
        <span class="error">
          You need to input a decimal number
        </span>
    </div>

    <br/>
    <br/>

	<!-- Submit button -->
    <div class="element element2">
      <button mat-raised-button color="warn" type="submit" [disabled] = "!formdata.valid" class="forsubmit">
        Update
      </button>
    </div>

  </form>
</div>
