<!-- Instant project creation form -->
<div class="wrap-login100 big-wrap">
  <form class="login100-form" [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
    <br/>
    <span class="login100-form-title p-b-34">
      Create instant project
    </span>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput placeholder="Name" name="name" formControlName="name">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput type="number" placeholder="Rewarded k unit" formControlName="kunit" min="1" max="20">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput type="number" placeholder="Amount of analyst questions" formControlName="analystQ" min="1" max="50">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput type="number" placeholder="Amount of developer questions" formControlName="developerQ" min="1" max="50">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput type="number" placeholder="Amount of tester questions" formControlName="testerQ" min="1" max="50">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>
	
	<!-- Messages if validations fail -->

    <div class="element" *ngIf="letra">
      <br/>
      <span class="error">
        Except name all inputs should be numbers
      </span>
    </div>

    <div class="element" *ngIf="success">
      <br/>
      <span class="success">
        Instant Project succesfully added
      </span>
    </div>

    <div class="element" *ngIf="negativo">
      <br/>
      <span class="error">
        All numbers should be bigger than one
      </span>
    </div>

    <br/>
    <br/>

	<!-- Submit button -->
    <div class="element element2">
      <button mat-raised-button color="warn" type="submit" [disabled] = "!formdata.valid" class="forsubmit">
        Create
      </button>
    </div>

  </form>
</div>
