.w3-card-4{
  width: 100%;
  margin:auto;
  background-color: #00585E;
  cursor: pointer;
  border-style: solid;
  border-color: #009494;
}
img{
  width: 100%;
}
.announcement {
  text-align: center;
  color: red;
}
h1{
  margin: 2% auto 1% 0 ;
  color: #00585E;
  font-weight: bold;
  text-align: center;
}
button{
  background-color: #009494;
  color: white;
}
h1{
  margin: 2% auto 1% 0 ;
  color: #00585E;
  font-weight: bold;
}
h3{
  margin: 0 auto 2% 0;
  color: #00585E;
  font-weight: bold;
}
h4{
  color: white;
}
p{
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}
.element-text3{
  text-align: center;
  color: #009494;
}
