<!-- Puzzle creation form -->
<div class="wrap-login100 big-wrap">
<h1>
  Load Diagram
</h1>
<form class="login100-form" [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
<input name="image" formControlName="image" type="file" accept="image/*" (change)="onSelectFile($event)"/>
<h1> Amount of Resources </h1>
<input formControlName="resources" name="resources" type="number" min="0" >
<button id="submit" mat-raised-button class="submit">Submit</button>
</form>
</div>
<h1></h1>

<!-- Image -->
<div class="wrap-login100 big">
<h1> Define Puzzle </h1>
<img [src]="url" height="500">

</div>

<!-- table id="puzzle_upload" background="https://d2slcw3kip6qmk.cloudfront.net/marketing/pages/chart/class-diagram-for-hotel-management-system-UML/UML_class_diagram_hotel-949x683.PNG" alt="your image" style="width:100%">-->
