<div class="w3-container">
  <h1>Welcome {{this.service.user.username}}!</h1>
  <h3>Here you have some pages you can visit:</h3>

  <div class="w3-row">

    <div class="w3-quarter">
      <div class="w3-card-4" (click)="redirect4($event)">

        <img src="https://previews.123rf.com/images/jirsak/jirsak1307/jirsak130700015/20708197-los-recursos-humanos-auditoría-personal-y-concepto-de-centro-de-evaluación-busque-reclutador-de-empleados.jpg"
             *ngIf="this.service.user_type === 'Project Manager';">

        <div class="w3-container">

          <h4>
            <b *ngIf="this.service.user_type === 'Project Manager';">
              Recruit members
            </b>
          </h4>

          <p *ngIf="this.service.user_type === 'Project Manager';">
            Here you can see users without a team and you can invite them to your company.
          </p>

        </div>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-card-4" (click)="redirect5($event)">

        <img src="https://consultaeircomunitaria.files.wordpress.com/2014/04/investigador1.jpg"
             alt="Person" *ngIf="this.service.user_type === 'Project Manager';">

        <div class="w3-container">

          <h4>
            <b *ngIf="this.service.user_type === 'Project Manager';">
              Choose project
            </b>

          </h4>

          <p *ngIf="this.service.user_type === 'Project Manager';">
            Here you can see projects, you can choose a bidding project or a instant project.
          </p>

        </div>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-card-4" (click)="redirect6($event)">

        <img src="https://1.bp.blogspot.com/-FIpGF0u0DLk/VNkUxPjSppI/AAAAAAAAAKA/EhLjDcYSoD4/s1600/calculadora.jpg"
             alt="Person" *ngIf="this.service.user_type === 'Project Manager';">

        <div class="w3-container">

          <h4>
            <b *ngIf="this.service.user_type === 'Project Manager';">
              Estimate cost and time
            </b>
          </h4>

          <p *ngIf="this.service.user_type === 'Project Manager';">
            Here you can see the chosen project and estimate the cost and time to develop.
          </p>

        </div>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-card-4" (click)="redirect7($event)">

        <img src="http://static.cnnexpansion.com/media/2013/01/08/ocde.jpg"
             alt="Person" *ngIf="this.service.user_type === 'Project Manager';">

        <div class="w3-container">

          <h4>
            <b *ngIf="this.service.user_type === 'Project Manager';">
              Generate resources
            </b>
          </h4>

          <p *ngIf="this.service.user_type === 'Project Manager';">
            Here you can generate resource solving puzzles.
          </p>

        </div>
      </div>
    </div>

  </div>

</div>

