.welcome {

  color: #009494;
  justify-content: center;
  width: 100%;
  text-align: center;

}

.invitations > div > * {
  display: inline;
}

.center2{
  display: flex;
  justify-content: center;
}
.center{
  display: flex ;
  justify-content: center;
  flex-direction: column;
}
.invitations > div > p {
  font-size: 1.1rem;
  color: #333333;
}

.companyName {
  margin: 0 3rem 0 0;
}


.accept{
  color: #009494;
  margin: 10%;
}

.reject {
  color: #bd4147;
}

