

  <mat-card class="welcome">
  <h2  >Here are yours invitations</h2>
  </mat-card>

  <ng-container>
  <mat-list>

    <mat-list-item>
      <img mat-list-avatar src="{{this.service.companies[0].image}}">
      <div matLine>
       {{this.service.companies[0].name}}
        <button mat-button class="accept" (click)="redirect1($event)">Accept</button>
        <button mat-button color="warn" (click)="redirect2($event)">Reject</button>

      </div>
    </mat-list-item>

    <mat-list-item>
      <img mat-list-avatar src="{{this.service.companies[1].image}}">
      <div matLine>
        {{this.service.companies[1].name}}
        <button mat-button class="accept" (click)="redirect1($event)">Accept</button>
        <button mat-button color="warn" (click)="redirect2($event)">Reject</button>

      </div>
    </mat-list-item>
    <mat-list-item>
      <img mat-list-avatar src="{{this.service.companies[2].image}}">
      <div matLine>
        {{this.service.companies[2].name}}
        <button mat-button class="accept" (click)="redirect1($event)">Accept</button>
        <button mat-button color="warn" (click)="redirect2($event)">Reject</button>


  </div>

