<mat-card class="welcome">
<h2>Here are your invitations</h2>
</mat-card>

<ng-container>
  <mat-list>
    <div>
      <mat-list-item >
        <img mat-list-avatar src="{{this.service.companies[0].image}}">
        <div matLine>
          {{this.service.companies[0].name}}
          <p>cosa</p>
          <button mat-button color="primary" (click)="redirect1($event)">n</button>
          <button mat-button color="warn" (click)="redirect2($event)">{{ n }}</button>

        </div>
      </mat-list-item>
    </div>
  </mat-list>
</ng-container>