<div *ngIf="loggedusr"> 
	<h1>{{uname}}</h1>
<div  *ngIf="opene" id ="emailing" ng-style="emailing">
			<h4 id="temail">Email <button id="cerraremail" (click)="cerraremail()">X</button></h4>
			<input type="search" name="emailbusqueda" value="Search" id="emailbusqueda">
			<button ng-click="newemail()" id="newemail">New Email</button>
		<section id="email" ng-style="email">
			<nav id="email2botones">
				<ul>
					<li class="2botones" ng-click="inbox()">Inbox </li>
					<li class="2botones">Send</li>
				</ul>
			</nav>
			<div id="emailgeneral">
				<div id="emailinbox" *ngIf="emailinbox">
					<div *ngIf="recibidos">
						<table style="width: 100%;height: inherit; text-align: left; overflow: auto;" ng-style="recibidos">
							<tr style="padding: 2% 0 0 0" class="inboxitem" *ngFor=" let correo of correos" >
								<td style="margin-left: 1em"><input style="display: block;width: 1em; height: 1em; border: 1px solid #454445;" type="checkbox"/></td>
								<td ng-click="leer(correo)" style="margin-left: 0.5em">	{{correo.remitente}}</td>
								<td ng-click="leer(correo)">{{correo.asunto}}</td>
								<td ng-click="leer(correo)">{{correo.fecha}}</td>
							</tr>
						</table>
					</div>
					<div id="sensub" *ngIf="sensub">
						<table style="color: #F5F2DC; width:100%">
							<tr><td>From: <div class="euser"><!--{{sender}}--></div></td></tr>
							<tr><td>To: {{uname}}</td></tr>
							<tr><td>Subject: <!--{{subject}}--></td></tr>
						</table>
					</div>
					<div *ngIf="reading"><!--{{contenido}}--></div>
				</div>			

			</div>
			
		</section>
	</div>
	<div *ngIf="!opene" id="iemail" ng-style="iemail" (click)="email()">
		<div id="notemail" ng-app="MiApp" ng-style="notemail">{{nem}}</div>
	</div>
</div>