/*
colores:
axul oscuro #00585E
azul claro #009494
beige #F5F2DC
oscuro #454445
overflow
naranja #FF5729
*/
#temail{}
#cerraremail{
	background: transparent;
	border: none;
	color: #FF5729 !important;
	position: absolute;
	right: 1em !important;
	font-weight: bold;
}
#emailbusqueda{
	background: #F5F2DC;
	border: 1px solid #454445;
	display: block;
	margin: 5% 5% 0 5%;
	position: absolute;
	top: 1em;
	width: 90%;
}
#emailing{
	background: #F5F2DC;
	border: 1px solid #454445;
	bottom:0;
	height: 60%;
	min-width: 700px; 
	min-height: 450px;
	position: absolute;
	right:0;
	visibility: visible;
	width: 50%;

}
#emailing ::placeholder{
	color: #454445;
}
#emailgeneral{
	background: #454445;
	bottom: 1em;
	height: 72.5%;
	position: absolute;
	right: 1em;
	width: 70%;
}
#email2botones{
	background: #00585E;
	border: 1px solid #454445;
	color:white;
	margin: 18% 0 0 5%;
	padding: 0 0 0 0;
	text-align: center;
	width: 20% ;
}
#email2botones ul{
	list-style-type: none;
	margin-bottom: 0;
	padding: 0 0 0 0;
	vertical-align: center;
	width: 100%;
}
#email2botones ul li{
	height: 15%;
	padding-left: 20%;
	padding-top: 10%;
	text-align: left;
	vertical-align: center;
}
#email2botones ul li:first-child{
	border-bottom: 1px solid #009494;
}
#email2botones ul li:hover{
	background: #009494;
	cursor: pointer;
}
#enviarnuevo{
	background: #00585E;
	border-radius: 1em;
	color:#F5F2DC;
	margin: 0 40% 0 40%;
	font-weight: bold;
	width: 20%;

}
.euser{
	background: #009494;
	border-radius: 1em;
	display: inline-block;
	height: 1.5em;
	text-align: center;
	width: 30%;
}
#iconnew{
	background: url("./newemail.png") no-repeat;
	background-size: contain;
	display: inline-block;
	margin: 0.2em 0.1em 0.2em 0.5em;
	position: absolute;
	width: 2em;
	height: 70%;
}
#iemail{
	background-image: url("./sobre.png");
	background-size: contain;
	bottom:2em;
	max-height: 6em;
	max-width: 6em;
	min-height: 3em;
	min-width: 3em;
	position: absolute;
	right:1em;
	z-index: 1;
}
#inputcontenido{
	height: 13em;
	margin-top: 1em;
	width: 100%;
}
#inputsub, #inputto{
	display: inline-block;
	width: 70%;
}
.inboxitem{

	background: #F5F2DC;
	border: 1px solid #454445;
	color:#454445;
	display: block;
	height: 50px;
	margin: 0.25% 0.5% 0.25% 0.5%;
	width: 99%;
}
.inboxitem td{
	display: inline-block;
	margin-left:10%;
}
#newemail{
	background: #009494;
	border:0 solid #454445;
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	font-weight: bold;
	height: 7%;
	margin: 8% 0 0 5%;
	padding-left: 0.5em;
	position: absolute;
	text-align: left;
	width: 20%;
}

.notemail{
	background: #FF5729;
	border-radius: 1em;
	color: white;
	display: inline-block;
	font-size: 16px; 
	position: absolute;
	right: -8;
	text-align: center;
	top:-5;
	vertical-align: top;
	width: 1.5em;
	z-index: 1002;
}
#reading{
	background: #F5F2DC;
	color: #454445; 
	display: block;
	height: 60%;
	margin: 3% 3% 3% 3%;
	position: absolute;
	visibility: visible;
	width: 92%;
}
#recibidos{
	height: 100%;
	overflow: auto;
}
#leyendo, #sent{
	background: #454445;
	color: #F5F2DC; 
	height: 100%; 
	margin: 0 3% 3% 0; 
	overflow: auto;
	padding:0;
	position: absolute;
	top: 0;
	visibility: visible; 
	width: 100%;
}
#tablanuevo{
	color: #F5F2DC; 
	margin: 1% 3% 1% 3%;
	width: 94%;
}
#tablanuevo tr{
	margin-top: 0.5em;
	width: 100%;
}
#tablanuevo tr:last-child{
	margin-top: 1em;
	bottom: 1em;
	height: 30%
}
#tablanuevo tr td{
	border-spacing: 0;
	display: block;
	margin: 0 !important;
	padding: 0 !important;
	text-align: right;
	width: 100%;
}
#temail{
	background: #00585E;
	border-bottom: 1px solid #454445;
	color:#F5F2DC;
}
.2botones{
	text-align: left;
}
