/*
colores:
axul oscuro #00585E
azul claro #009494
beige #F5F2DC
oscuro #454445
overflow
naranja #FF5729
*/

.overlay.open {
	background-color: rgb(100, 100, 100,0.7);
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	visibility: visible;
	opacity: 1;
	transition: all .5s ease-in-out;  
}

.overlay {
	visibility: hidden;
  	opacity: 0;
	z-index: -1;
	transition: all .5s ease-in-out;  
}

.open-email-button{
	background-image: url("./sobreB.png");
    background-color: #FF5729;
    background-size: 40px 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1050;
	transition: all .5s ease-in-out;  
	cursor: pointer;
}

.open-email-button.open {
	transform: rotateY(180deg);
	background: #FF5729;
}

.open-email-button.open .email-count-badge {
	visibility: hidden;
  	opacity: 0;
	z-index: -1;
	transform: scale(0);
	transition: all .3s ease-in-out;  
}

.open-email-button.open .close-boton{
	position: relative;
	top: 17px;
	margin: 0 auto;
	height: 25px;
}

.open-email-button.open .close-boton span{
	position: absolute;
	opacity: 1;
	display: block;
	width: 40px;
	height: 4px;
	top: 10px;
	right: 10px;
	border-radius: 20px;
	background: #fff;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
	transition-delay: .5s;
}

.open-email-button.open .close-boton .bar1{
	-webkit-transform: rotate(45deg); 
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.open-email-button.open .close-boton .bar2 {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.email-count-badge {
	background: #009494;
	color: white;
	border-radius: 100%;
	display: inline-block;
	font-size: 16px; 
	position: absolute;
	text-align: center;
	vertical-align: top;
	right: 37px;
	top: 3px;
	width: 1.5em;
	z-index: 1002;
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	transition: all .3s ease-in-out;  
	transition-delay: .5s;
}

.email-container {
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60%;
	width: 50%;
	min-height: 610px;
	min-width: 952px;
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	overflow: hidden;
	margin: auto;

	visibility: hidden;
  	opacity: 0;
	z-index: -1;
	transform: scale(0);
	transition: all .5s ease-in-out;  
}

.email-container.open {
	background: #F5F2DC;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60%;
	width: 50%;
	min-height: 610px;
	min-width: 952px;
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;

	overflow: hidden;
	margin: auto;
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	z-index: 1000;
}

.email-header-container {
	/* background: rgb(57, 150, 187); */
	height: 70px;
	margin-bottom: 15px;
}

.email-header-container .email-logo {
	background-image: url("./email-logo.png");
	/* background-color: #346b1e; */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
}

.email-header-container .search-input-container {
	padding-left: 20px;
	padding-top: 24px;
	height: 100%;
}

.email-header-container .search-input-container > * {
	width: 100%;
}


.email-body-container {
	height: 84%;
}

.email-body-container .email-controls {
	height: 100%;
	padding: 10px;
	overflow: hidden;
}


.email-body-container .email-controls .buttons-container .newemail-button {
	background-color: #00585E;
	border-radius: 5px;
	font-size: 16px;
	margin-bottom: 20px;
	color: #fff;
	cursor: pointer;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.email-body-container .email-controls .buttons-container .newemail-button:hover {
	background-color: #009494;
	-webkit-box-shadow: 0px 0px 15x 0px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.8);
}

.email-body-container .email-controls .buttons-container .newemail-button span {
	width: 70%;
	padding: 10px 0 10px 20px;
}

.email-body-container .email-controls .buttons-container .newemail-button .icon-newemail {
	background-image: url("./newemail.png");
	background-size: 40px 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgb(100, 100, 100);
	border-radius: 0px 5px 5px 0;
	height: 44px;
	width: 30%;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.email-body-container .email-controls .buttons-container .newemail-button:hover .icon-newemail {
	background-color: rgb(122, 121, 121);
}

.email-body-container .email-controls .buttons-container .inbox-sent-buttons-container .control-button {
	background-color: #009494;
	padding: 15px 0 15px 20px;
	color: #fff;
	transition: all .3s ease-in-out;  
	margin: 0 auto;
	cursor: pointer;
}

.email-body-container .email-controls .buttons-container .inbox-sent-buttons-container .inbox {
	border-radius: 5px 5px 0 0;
	margin-bottom: 5px;
}

.email-body-container .email-controls .buttons-container .inbox-sent-buttons-container .control-button.active {
	background-color: #00585E;
}

.email-body-container .email-controls .buttons-container .inbox-sent-buttons-container .sent {
	border-radius: 0 0 5px 5px;
}

.email-body-container .email-controls .buttons-container .inbox-sent-buttons-container .control-button:hover {
	background-color: #00585E;
}

.email-body-container .email-controls .buttons-container .inbox-sent-buttons-container .email-count-badge-inbox {
	background: rgb(100, 100, 100);
	color: white;
	border-radius: 100%;
	display: inline-block;
	font-size: 16px; 
	text-align: center;
	vertical-align: top;
	width: 1.5em;
	z-index: 1002;	
	position: absolute
}

.email-body-container .main-email-container{
	height: 100%;
	padding-left: 20px;
	padding-top: 10px;
}

/* EMAILS TABLE */

.email-body-container .main-email-container .emails-table-container{
	background: #fff;
	height: 100%;
	display: block;
}

.main-email-container .mat-row {
	height: 40px;
}

.main-email-container .mat-cell {
	padding: 5px;
}

.main-email-container .mat-column-createdAt {
	text-align: right;
	flex: 0 0 100px;
}

.main-email-container .mat-column-sender {
	flex: 0 0 150px;
}


.main-email-container .mat-column-subject-content , .main-email-container .mat-column-sender {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.main-email-container .mat-column-receivers {
	flex: 0 0 250px;
}

.main-email-container .mat-column-receivers {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.main-email-container .mat-column-subject-content .content {
	color: rgb(116, 116, 116);
}

.main-email-container .mat-row {
	background: rgba(231, 231, 231, 0.85);
	cursor: pointer;
}

.main-email-container .mat-row.unread {
	background: #fff;
}

.main-email-container .mat-column-createdAt{
	text-align: right;
}

.main-email-container .mat-column-createdAt .hour {
	font-size: 14px;
	color: rgb(116, 116, 116);
}

.main-email-container .mat-row.unread .mat-column-username , .mat-row.unread  .subject , .mat-row.unread  .mat-column-createdAt {
	font-weight: bold;
}


/* READ EMAIL */


.email-body-container .main-email-container .read-email-container{
	background: #fff;
	height: 100%;
	padding: 5px;
	overflow: hidden;
}

.email-body-container .main-email-container .read-email-container .subject-container h2 {
	margin-left: 5px;
}

.email-body-container .main-email-container .read-email-container .subject-container {
	margin-bottom: 10px;
}

.email-body-container .main-email-container .read-email-container .email-info-container {
	margin-left: 5px;
	margin-right: 5px;
}

.email-body-container .main-email-container .read-email-container .email-info-container .receiver-sender .image {
	background-image: url("./contact.png");
	background-size: 40px 40px;
	background-position: center;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}

.email-body-container .main-email-container .read-email-container .email-info-container .date {
	text-align: right;
}

.email-body-container .main-email-container .read-email-container .email-info-container .receiver-sender .w3-rest {
	height: 40px;
	margin-left: 45px;
}

.email-body-container .main-email-container .read-email-container .email-info-container .receiver-sender .w3-rest .sender {
	height: 20px;
}

.email-body-container .main-email-container .read-email-container .email-info-container .receiver-sender .w3-rest .sender h4 {
	line-height: 20px;
}

.email-body-container .main-email-container .read-email-container .email-info-container .receiver-sender .w3-rest .receiver p {
	line-height: 20px;
}

.email-body-container .main-email-container .read-email-container .email-content-container {
	background: rgb(207, 207, 207);
	border-radius: 5px 5px 5px 0;
	padding: 10px;
	max-height: 77%;
	margin-right: 5px;	
	margin-left: 50px;
	margin-top: 10px;
	overflow-y: auto;
}

.email-body-container .main-email-container .read-email-container .email-content-container p{
	color: #000;
}

/* NEW EMAIL */

.email-body-container .main-email-container .new-email-container{
	background: #fff;
	height: 100%;
	padding: 5px;
	overflow: auto;
}

.new-email-container input::placeholder , .new-email-container textarea::placeholder {
	color: #000;
	opacity: 0.7;
}

.email-body-container .main-email-container .new-email-container .select-receivers-container {
	padding: 5px;
}


.email-body-container .main-email-container .new-email-container .subject-container {
	height: 40px;
	padding: 5px;
	margin-bottom: 10px;
}

.email-body-container .main-email-container .new-email-container .subject-container input {
	padding: 5px;
	width: 100%;
	border: 2px solid rgb(66, 66, 66, 0.5);
	border-radius: 5px;
}

.email-body-container .main-email-container .new-email-container .subject-container input:focus {
	border: 2px solid #00585E!important;
}

.email-body-container .main-email-container .new-email-container .content-container {
	padding: 5px;
	padding-bottom: 0;
}

.email-body-container .main-email-container .new-email-container .content-container textarea {
	padding: 5px;
	height: 334px;
	width: 100%;
	resize: none;
	border-radius: 5px;
	border: 2px solid rgb(66, 66, 66, 0.5);
}

.email-body-container .main-email-container .new-email-container .content-container textarea:focus {
	border: 2px solid #00585E!important;
}

.email-body-container .main-email-container .new-email-container .send-email-button-container {
	text-align: center;
	margin-top: 5px;
}

.email-body-container .main-email-container .new-email-container .send-email-button-container button {
	background-color: #00585E;
	color: #fff;
}

.ng-select.custom .ng-select-container {
	border: 2px solid rgb(66, 66, 66, 0.5);
}

.ng-select.custom.ng-select-focused .ng-select-container{
	border: 2px solid #00585E;
	box-shadow: none;
}

.email-body-container .main-email-container .new-email-container .ng-select.custom .ng-select-container .ng-placeholder {
	color: #000;
	opacity: 0.7;
}

.ng-select.ng-select-multiple.custom .ng-select-container .ng-value-container .ng-value {
	border: 1px solid rgb(66, 66, 66, 0.5);
	background-color: rgb(245, 245, 245);
	border-radius: 10px;
	overflow: hidden;
}

.ng-select.ng-select-multiple.custom .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
	border-right: none;
}

.ng-select.ng-select-multiple.custom .ng-select-container .ng-value-container .ng-value .ng-value-icon.left:hover {
	background-color: rgb(245, 245, 245);
	font-weight: bold;
	color: red;
} 

.ng-select.ng-select-multiple.custom .ng-dropdown-panel {
	border: 2px solid #00585E;
}

.ng-select.ng-select-multiple.custom .ng-option {
	border-bottom: 2px solid #00585e;
	height: 78px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.ng-select.ng-select-multiple.custom .ng-option.ng-option-marked {
	background-color: rgba(231, 231, 231, 0.85);
}

.ng-select.ng-select-multiple.custom .ng-option.ng-option-selected {
	background-color: #009494;
	color: #fff;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.ng-select.ng-select-multiple.custom .ng-option .user-info {
	margin-top: 6px;
}