<div class="w3-container">
  <h1>Welcome {{this.service.username}}!</h1>
  <h3>Choose:</h3>


  <div class="container">
    <div (click)="redirect1($event)">
      <img src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png">
      <p>Skill level</p>
    </div>
    <div (click)="redirect2($event)">
      <img src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png">
      <p>Develop project</p>
    </div>
  </div>

</div>

<!--
Desarrollador
Tester
Analista
PM
-->
