<div class="w3-container">
  <h1>Game set-up</h1><br/>
</div>

<div class="w3-card-4">
  <div class="w3-container">
    <h2>Create/update projects</h2>
  </div>
  <br/>
  <div class="w3-container">
    <p>
    <button mat-raised-button (click)="redirect1($event)">
      Create project
    </button></p>
    <br/>
    <p>
    <button mat-raised-button (click)="redirect2($event)">
      Update project
    </button></p><br/>
  </div>
</div>
<br/>
<div class="w3-card-4">
  <div class="w3-container">
    <h2>Create/update questions</h2>
  </div>
  <br/>
  <div class="w3-container">
    <p>
    <button mat-raised-button (click)="redirect3($event)">
      Create question
    </button></p>
    <br/>
    <p>
    <button mat-raised-button (click)="redirect4($event)">
      Update question
    </button></p><br/>
  </div>
</div>
<br/>
<div class="w3-card-4">
  <div class="w3-container">
    <h2>Create/update puzzles</h2>
  </div>
  <br/>
  <div class="w3-container">
    <p>
    <button mat-raised-button (click)="redirect5($event)">
      Create puzzle
    </button></p>
    <br/>
    <p>
    <button mat-raised-button (click)="redirect6($event)">
      Update puzzle
    </button></p><br/>
  </div>
</div>
<br/>
<div class="w3-container">
  <p>
  <button mat-raised-button class="create" (click)="redirect7($event)">
    Update parameters
  </button></p>
</div>
