<div class="wrap-login100 big-wrap">
  <form class="login100-form" [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
    <br/>
    <span class="login100-form-title p-b-34">
      Create bidding project
    </span>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput placeholder="Name" name="name" formControlName="name">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput type="number" placeholder="Amount of analyst questions" formControlName="analystQ" min="1" max="50">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput type="number" placeholder="Amount of developer questions" formControlName="developerQ" min="1" max="50">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput type="number" placeholder="Amount of tester questions" formControlName="testerQ" min="1" max="50">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput type="number" placeholder="Required analyst level" formControlName="analystL" min="1">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput type="number" placeholder="Required developer level" formControlName="developerL" min="1">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="element">
      <mat-form-field class="big-input">
        <input matInput type="number" placeholder="Required tester level" formControlName="testerL" min="1">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="w3-row">
      <div class="w3-half">
        <div class="element">
          <mat-form-field class="small-input">
            <input matInput type="number" placeholder="Time" formControlName="time" min="1">
            <mat-hint>Required Field</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="w3-half">
        <div class="element">
          <mat-form-field class="small-input">
            <input matInput type="number" placeholder="Cost" formControlName="cost" min="1">
            <mat-hint>Required Field</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>

    <br/>

    <div class="w3-row">
      <div class="w3-half">
        <div class="element">
          <mat-form-field class="small-input">
            <input matInput type="number" placeholder="Rewarded k unit" formControlName="kunit" min="1" max="20">
            <mat-hint>Required Field</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="w3-half">
        <div class="element">
          <mat-form-field class="small-input">
            <input matInput type="number" placeholder="K required" formControlName="krequired" min="1" max="50">
            <mat-hint>Required Field</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>

    <br/>


    <div class="element" *ngIf="invalid">
      <br/>
      <span class="error">
        The password and its confirmation doesn't match.
      </span>
    </div>

    <div class="element" *ngIf="success">
      <br/>
      <span class="success">
        User successfully added.
      </span>
    </div>

    <div class="element" *ngIf="invalid_name">
      <br/>
      <span class="error">
        Name can only contain letters and spaces.
      </span>
    </div>

    <br/>
    <br/>

    <div class="element element2">
      <button mat-raised-button color="warn" type="submit" [disabled] = "!formdata.valid" class="forsubmit">
        Create
      </button>
    </div>

  </form>
</div>
