<h1>Questions</h1>
<div class="container mat-elevation-z8">

  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="questions2">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.question_id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="level">
      <mat-header-cell *matHeaderCellDef> Level </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.level}} </mat-cell>
    </ng-container>

    <!-- Update Column -->
    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="redirect($event,element)">
          Update
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="table_titles"></mat-header-row>
    <mat-row *matRowDef="let row; columns: table_titles;"></mat-row>
  </mat-table>
</div>
