<div class="todoready" *ngIf="(this.load_complete && haveCompany())">
  <div class="marco">
    <span class="login100-form-title p-b-34 p-t-27">
      Invite team members!
    </span>

    <!-- Users table -->
    <div class="container mat-elevation-z8">

      <!-- Filter -->
      <div class="header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="users2">


        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Username Column -->
        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
        </ng-container>


        <!-- Role Column -->
        <ng-container matColumnDef="role">
          <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
        </ng-container>

        <!-- Company Column -->
        <ng-container matColumnDef="company">
          <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <p *ngIf="!(element.companyName === undefined); else pending_company">
              {{element.companyName}}
            </p>
            <ng-template #pending_company>
              <p class="pending">
                Pending
              </p>
            </ng-template>
          </mat-cell>
        </ng-container>

        <!-- Update Column -->
        <ng-container matColumnDef="invite">
          <mat-header-cell *matHeaderCellDef> Invite </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-raised-button type="create" (click)="onClickSubmit(element)">
              Send Invitation
            </button>
          </mat-cell>
        </ng-container>

        <!-- Table rows -->
        <mat-header-row *matHeaderRowDef="table_titles"></mat-header-row>
        <mat-row *matRowDef="let row; columns: table_titles;"></mat-row>
      </mat-table>

    </div>
  </div>
</div>
<br>
<br>
<div class="element-exit">
  <button mat-raised-button type="submit" (click)="redirectToFunctions($event)">
    Exit
  </button>
</div>

<div class="announcement" *ngIf="(!(haveCompany()))">
  <div class="wrap-login100 big-wrap">
    <span class="login100-form-title p-b-34 p-t-27">
      Team members invitations!
    </span>
    <form class="login100-form">
      You do not have a company assigned so you can not invite people. You must ask the game administrator to assign one to you

      <br>
      <br>
      <br>
      <div class="element-exit">
        <button mat-raised-button type="submit" (click)="redirectToFunctions($event)">
          Exit
        </button>
      </div>
    </form>
  </div>
</div>




