<!-- Question update form -->
<div class="wrap-login100 big-wrap">
  <form class="login100-form" [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
    <br/>
    <span class="login100-form-title p-b-34">
      UPDATE QUESTION
    </span>
	
	<div class="element">
      <mat-form-field class="big-input">
        <input matInput placeholder="Description - {{ this.service.question_to_be_updated.description }}" name="description" formControlName="description">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>
	
	<br/>
	
	<div class="element">
      <mat-form-field class="big-input">
        <mat-select placeholder="Question's category - {{ this.service.question_to_be_updated.role }}" name="category" formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>
	
	<br/>
	
	<br/>
	
	<div class="w3-row-">
      <div class="w3-half">
        <div class="element">
          <mat-form-field class="input">
            <input matInput placeholder="First Answer - {{ this.service.question_to_be_updated.questions[0].description }}" name="answer1" formControlName="answer1">
            <mat-hint>Required Field</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="w3-half">
        <div class="element">
          <mat-form-field class="small-input">
				<mat-select placeholder="Veracity - {{ this.service.question_to_be_updated.questions[0].state }}" name="veracity1" formControlName="veracity1">
					<mat-option *ngFor="let veracity of veracities" [value]="veracity">
					  {{ veracity }}
					</mat-option>
				</mat-select>
            <mat-hint>Required Field</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
	
    <br/>
	
	<div class="w3-row-">
      <div class="w3-half">
        <div class="element">
          <mat-form-field class="input">
            <input matInput placeholder="Second Answer - {{ this.service.question_to_be_updated.questions[1].description }}" name="answer2" formControlName="answer2">
            <mat-hint>Required Field</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="w3-half">
        <div class="element">
          <mat-form-field class="small-input">
				<mat-select placeholder="Veracity - {{ this.service.question_to_be_updated.questions[1].state }}" name="veracity2" formControlName="veracity2">
					<mat-option *ngFor="let veracity of veracities" [value]="veracity">
					  {{ veracity }}
					</mat-option>
				</mat-select>
            <mat-hint>Required Field</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
	
    <br/>
	
	<div class="w3-row-">
      <div class="w3-half">
        <div class="element">
          <mat-form-field class="input">
            <input matInput placeholder="Third Answer - {{ this.service.question_to_be_updated.questions[2].description }}" name="answer3" formControlName="answer3">
            <mat-hint>Required Field</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="w3-half">
        <div class="element">
          <mat-form-field class="small-input">
				<mat-select placeholder="Veracity - {{ this.service.question_to_be_updated.questions[2].veracity }}" name="veracity3" formControlName="veracity3">
					<mat-option *ngFor="let veracity of veracities" [value]="veracity">
					  {{ veracity }}
					</mat-option>
				</mat-select>
            <mat-hint>Required Field</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
	
    <br/>
	
	<div class="w3-row-">
      <div class="w3-half">
        <div class="element">
          <mat-form-field class="input">
            <input matInput placeholder="Fourth Answer - {{ this.service.question_to_be_updated.questions[3].description }}" name="answer4" formControlName="answer4">
            <mat-hint>Required Field</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="w3-half">
        <div class="element">
          <mat-form-field class="small-input">
				<mat-select placeholder="Veracity - {{ this.service.question_to_be_updated.questions[3].veracity }}" name="veracity4" formControlName="veracity4">
					<mat-option *ngFor="let veracity of veracities" [value]="veracity">
					  {{ veracity }}
					</mat-option>
				</mat-select>
            <mat-hint>Required Field</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
	
    <br/>

    <br/>
    <br/>
	
	<!-- Submit button -->
    <div class="element element2">
      <button mat-raised-button color="warn" type="submit" [disabled] = "!formdata.valid" class="forsubmit">
        Create
      </button>
    </div>

  </form>
</div>