.container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  width: 90%;
  margin: auto;
}
.w3-container {
  text-align: center;
}
button{
  background-color: #009494;
  color: white;
}
h1{
  margin: 2% auto 1% 0 ;
  color: #00585E;
  font-weight: bold;
  text-align: center;
}
