.container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  width: 90%;
  margin: auto;
}
.w3-container {
  text-align: center;
}
.element{
  text-align: justify;

}
.announcement{
  color: red;
  text-align: center;
}

.error{
  color: red;
}
.success{
  color: #009494;
}

button{
  background-color: #009494;
  color: white;
}
h6{
  margin: 2% auto 1% 0 ;
  color: black;
  font-weight: bold;
  text-align: center;
}
