<!-- This will be shown to redirect the admin to create a new company -->
<div class="w3-container">
  <h1>Questions</h1>
</div>

<!-- This will contain the table -->
<div class="container mat-elevation-z8">

  <!-- Filter -->
  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="questions2">


    <!-- Name Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>


    <!-- Update Column -->
    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef> Select </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="redirect($event,element)">
          Select
        </button>
      </mat-cell>
    </ng-container>

    <!-- Defines the rows -->
    <mat-header-row *matHeaderRowDef="table_titles"></mat-header-row>
    <mat-row *matRowDef="let row; columns: table_titles;"></mat-row>
  </mat-table>

  <!-- Pagination will be implemented later -->
  <!------<mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>------->
</div>