/deep/ .mat-input-underline{
  border-bottom: 1px solid #009494!important;
}
.elementfield{
  text-align: center;
}
.elementfield1{
  text-align: center;
}
button{
  background-color: #009494;
  color: white;
}
.elementfield2{
  text-align: center;
}
.elementfield3{
  text-align: center;
}
.element2{
  margin-bottom: 10px;
}
.error{
  color: red;
}
.element-text1 {
  text-align: center;
}
.element-text2 {
  text-align: center;
}
.element-text3 {
  text-align: center;
  color: #009494;
}
.element-text4 {
  text-align: center;
}
.announcement {
  text-align: center;
  color: red;
}
.elementexit5 {
  text-align: center;
  color: black;
}
mat-hint{
  color: #009494;
}
