
<<div class="estimation-form">
  <form class="estimation-form" [formGroup]="guess" (ngSubmit) = "onClickSubmit(guess.value)" >

    <span class="login100-form-title p-b-34 p-t-27">
						Cost & Time Estimation
    </span>


    <div class="elementfield">
      <mat-form-field>
        <input matInput placeholder="Cost (USD)" name="cost" formControlName="cost">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

    <br/>

    <div class="elementfield1">
      <mat-form-field>
        <input matInput placeholder="Time (man-hours)" name="time" formControlName="time">
        <mat-hint>Required Field</mat-hint>
      </mat-form-field>
    </div>

      <div class="element-text1" *ngIf="incorrect_time">
        <br/>
        <span class="error">
            The cost you guessed wasn't quite right, try again.
          </span>
      </div>

      <div class="element-text2" *ngIf="incorrect_cost">
        <br/>
        <span class="error">
            The time you guessed wasn't quite right, try again.
          </span>
      </div>

      <div class="element-text3" *ngIf="correct_guess">
        <br/>
            Your guess was correct! You can now exit and continue with the project.
      </div>

    <br/>
        <div class="elementfield2">
          <button mat-raised-button type="submit" (click)="redirectToFunctions($event)">
            Exit
          </button>

          <button mat-raised-button color="warn" type="submit" [disabled] = "(!guess.valid||correct_guess)" class="forsubmit">
            Validate
          </button>
        </div>

      </form>
    </div>
